body {
    margin: 0rem;
    font-family: "Golos Text", sans-serif;

}
h1,h2,h3,h4,h5 {
    font-family: 'Source Sans Pro', sans-serif;
    color:black;
}

p{
    color:black;
}

.cover {
    height: 100em;
    background-image:url("../assets/biblioteca.jpg"); 
    background-size: cover;
    background-position: center top; /* Change "left top" a "center top" para centrar la imagen verticalmente */
    background-position: right top;
    background-repeat: no-repeat;
    height: 300px;
    color: white;
    background-color:rgba(0,0,0,-1);
    background-blend-mode: darken;

    animation: movimientoImagen 3s infinite linear; /* Ajusta la duración y el tipo de animación según tus preferencias */
}

@keyframes movimientoImagen {
    0% {
        transform: translateX(0); /* Inicialmente, la imagen no se mueve horizontalmente */
    }
    50% {
        transform: translateX(50px); /* En el punto medio de la animación, la imagen se desplaza 50px hacia la derecha */
    }
    100% {
        transform: translateX(0); /* Al final de la animación, la imagen vuelve a su posición inicial */
    }
}

.card {
    border: 0 !important;
    box-shadow: 0 4px 6px -1px rgba(0,0,0,0.1), 0 2px 4px -2px rgba(0,0,0,0.06);
}

.card .title {
    min-height: 3rem;
}

.card .text {
    min-height: 10rem;
}


#slider-container {
    width: 1200px; /* Establece el ancho del contenedor del slider */
    height: 500px; /* Establece la altura del contenedor del slider */
    margin: 0 auto; /* Para centrar horizontalmente el contenedor */
    overflow: hidden; /* Oculta cualquier contenido que desborde del contenedor */
}

.responsive-iframe {
    position: relative;
    overflow: hidden;
    padding-bottom: 56.25%; /* Proporción para mantener la relación de aspecto en iframes */
}


.responsive-iframe iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}